input {
    font-size: 24px;
}

button {
    margin: 0px 10px;
    font-size: 24px;
}

.ball {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    padding: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    color: white;
    font-size: 25px;
    transition: all 0.5s ease;
}

.box {
    height: 500px;
    width: 500px;
    border: 1px solid black;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    transition: all 0.5s ease;
}